<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PACKING_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div padding>
    <button ion-button color="primary" block (click)="scanList()">Scan List</button>
  </div>

  <ion-label>RequireTotal: {{res.RequireTotal}}</ion-label>
  <ion-label>CustomerNo: {{res.CustomerNo}}</ion-label>
  <ion-label>CustomerName: {{res.CustomerName}}</ion-label>
  <ion-label>ScanJobId: {{res.ScanJobId}}</ion-label>

  <!--<ion-list>-->
    <!--<ion-item-sliding *ngFor="let item of currentItems">-->
      <!--<button ion-item (click)="openItem(item)">-->
        <!--<ion-avatar item-start>-->
          <!--<img [src]="item.profilePic" />-->
        <!--</ion-avatar>-->
        <!--<h2>{{item.name}}</h2>-->
        <!--<p>{{item.about}}</p>-->
        <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
      <!--</button>-->

      <!--<ion-item-options>-->
        <!--<button ion-button color="danger" (click)="deleteItem(item)">-->
          <!--{{ 'DELETE_BUTTON' | translate }}-->
        <!--</button>-->
      <!--</ion-item-options>-->
    <!--</ion-item-sliding>-->
  <!--</ion-list>-->
</ion-content>
